*{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;

}

body{
  height: 100vh;
  background-color: #efefef;
}

footer{
  background-color: #efefef;
  border-top-right-radius: 20%;
  border-top-left-radius: 20%;
  box-shadow: -10px -10px 25px 5px rgba(255, 255, 255, .9), 20px 20px 50px 5px rgba(100, 100, 100, .5);
  min-height: 40vh;
  margin-top: 32px;
}

.txt-rodape{
  font-size: 1.2em;
  color: black;
}

div.container-img-rodape{
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  width: 70%;
}

.img-rodape{
  display: inline-block;
  margin-right: 16px;
  margin-top: 4px;
  width: 70%;
}

@media (min-width: 800px) {
  footer{
    min-height: 24.4vh;
  }

  .img-rodape{
    width: 20%;
  }
}

